:root {
}

.header {
    justify-content: center;
    width: auto;
    height: auto;
    color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/Settings/TextMesh%20Pro/Examples%20&%20Extras/Fonts/Bangers.ttf?fileID=12800000&guid=5dd49b3eacc540408c98eee0de38e0f1&type=3#Bangers");
}




